.admin__title {
    font-size: 1.6rem;
    font-family: Righteous;
}

.left_nav {
    border-radius: 10px;
    /* background-color: rgb(246,247,251); */
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 10px 0px;
    padding-bottom: 30px;
}
.left_nav-link.now {
    /* color: #91b959; */
    /* font-weight: bold; */
}

.left_nav-title {
    text-align: center;
    font-size: 1.45rem;
    margin: 20px 50px 20px;
    padding: 10px 0px;
    font-weight: bold;
    /* color: rgb(108, 108, 108); */
    border-bottom: 2px solid rgb(175, 175, 175);
}
.left_nav-menu {
    list-style: none;
    padding-left: 30px;
}
.left_nav-item {
    box-sizing: content-box;
    margin-right: 20px;
    margin-left: 0px;
    padding: 15px 0px;
    border-bottom: 1px solid rgb(210, 210, 210);
}
.left_nav-link {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    display: block;
    transform: translateX(0px);
    transition: all ease-in .3s;
}

.left_nav-link:hover {
    color: black;
    font-weight: bold;
    transform: translateX(3px);
    text-decoration: none;
}
.left_nav-link:focus{
    text-decoration: none;
}


.right_content {
    padding: 10px 0px;
    padding-bottom: 30px;
}

/* Table manager */
.blog__manager {
     display: none;
}
.category__manager {
     display: none;
}
.account__manager {
    /* display: none; */
}
.admin_choice {
    display: none;
}

.heading_table {
    line-height: 35px;
    background-color: rgb(81, 80, 80);
    color: white;
}
.heading_table th {
    text-align: center;
}
.header {
    margin-bottom: 30px;
}
.body_table {
    background-color: rgb(245, 245, 245);
    padding: 10px 10px;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
}
#blog_manager:checked ~ .blog__manager {
    display: block;
}
#blog_manager:checked ~ .account__manager{
    display: none;
}
#blog_manager:checked ~ .category__manager{
    display: none;
}

#category_manager:checked ~ .category__manager {
    display: block;
}
#category_manager:checked ~ .blog__manager{
    display: none;
}
#category_manager:checked ~ .account__manager{
    display: none;
}
#account_manager:checked ~ .account__manager {
    display: block;
}
#account_manager:checked ~ .blog__manager{
    display: none;
}
#account_manager:checked ~ .category__manager{
    display: none;
}

.delIcon{
    padding: 0px 6px;
    color: black;
    font-size: 1.1rem;
    border: 1px solid black;
    border-radius: 3px;
}
.editIcon {
    font-size: 1.3rem;
    color: black;
    display: block;
    margin-top: -3px;
}
.delIcon:hover {
    background-color: rgb(231, 92, 92);
    color: white;
    border-color: rgb(231, 92, 92);
}

.editIcon:hover {
    color: rgb(3, 159, 3);
}

.eye-icon {
    font-size: 1.3rem;
    color: black;
}
.enableIcon {
    font-size: 1.3rem;
}
.blockIcon {
    font-size: 1.3rem;
    color: rgb(231, 92, 92);
}